.events-section {
  padding: 80px 40px;
  text-align: center;
  max-width: 1200px;
  margin: auto;   /* centre toute la section */
}

.page-title {
  font-size: 36px;
  color: #1b5e20;
  margin-bottom: 10px;
}

.page-subtitle {
  margin-bottom: 50px;
  color: #555;
}

.events-grid {
  display: flex;
  justify-content: center;
  align-items: center;   /* centre verticalement */
  gap: 30px;
  flex-wrap: wrap;
}

.event-card {
  width: 320px;
  padding: 20px;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-8px);
}

.event-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
