.register-container{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:80vh;
}

.register-card{
  width:420px;
  padding:30px;
}

.full{
  width:100%;
  margin-bottom:15px;
}

.login-link{
  text-align:center;
  margin-top:10px;
}
